/* Animations for ng-image-appear */

/* Fade in */
@keyframes fadeInUp {
    from {
        transform: translate3d(0, 20%, 0)
    }
    to {
        transform: translate3d(0, 0, 0)
    }
}

/* Fade in down */
@keyframes fadeInDown {
    from {
        transform: translate3d(0, -20%, 0)
    }
    to {
        transform: translate3d(0, 0, 0)
    }
}

/* Fade in left */
@keyframes fadeInLeft {
    from {
        transform: translate3d(-20%, 0, 0)
    }
    to {
        transform: translate3d(0, 0, 0)
    }
}

/* Fade in right */
@keyframes fadeInRight {
    from {
        transform: translate3d(20%, 0, 0)
    }
    to {
        transform: translate3d(0, 0, 0)
    }
}
